;;files to ignore

;;extensions to ignore
*.xml
*.log
*.pot
*.pyc
*.sqlite3


;;directories to ignore
.idea/*

media/
__pycache__

# Environments
.env
.venv
.venv3.10
env/
venv/
ENV/
env.bak/
venv.bak/
